* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #444444;
    color: #fff;

}
/****************************************** zone menu*/
nav
{
    position:absolute;
    top:1%;
    left:2%;
    visibility:visible;
    width:96%;
    height:40px;
    border-bottom: 1px solid black;
    z-index:5;
    font-size: 14px;
    margin-right:5px;
}

div.titreMenu:hover {
    color: white;
    background-color: #333333;
}

.titreMenu
{
    height: 40px;
    color: #66a0ff;
    font-weight: bold;
}

.boutonMenu
{
    display:block;
    float: left;
    width: 300px;
    height: 40px;
    background-color: #222222;
    margin-left: 40px;
    text-align: center;
    vertical-align:middle;
    z-index:7;
    overflow: hidden;  /*important*/
}

.boutonMenu:hover
{
    height: auto;
    cursor: pointer;
}

a.SousMenu {
    color: #66a0ff;
    font-weight: bold;
    padding-top: 10px;
    vertical-align: middle;
}

.SousMenu
{
    border-collapse: collapse;
    border-top: 1px solid black;
    display: block;
    height: 40px;
    background-color: #444444;
    z-index:8;
    color:black;
    vertical-align:middle;
    text-decoration:none;
}

.SousMenu:hover
{
    background:#333333;
    color: white;
}

/****************************************** zone de travail*/
div.row, .container
{
    position: absolute;
    top: 12%;
    left: 20%;
    visibility: visible;
    width: 60%;
    z-index: 4;
}

/******************************************  formulaire */
fieldset
{
    max-width:50%;
    margin-left: 25%;
    max-height: 50%;
}
label
{
    text-align:right;
    display:inline;
    width:250px;
    margin: 20px;
}
input
{
    display:block;
    height: 30px;
    width: 400px;
    border: 2px solid white;
    margin: 10px;
    text-align: center;
}
select {
    border: 2px solid white;
}
span.erreur,div#stock_formulaire span.erreur
{
    display:inline;
}

input[type=date] {
    width: auto;
}

input[type=submit]
{
    color: #66a0ff; 
    font-weight: bold; 
    margin-top: 10px;
    width: auto;
    margin-bottom: 0px;
}

input[type=submit]:hover
{
    color: white;
}

input[type=radio]
{
    display: inline;
    width: auto;
}

/******************************************  personnalisation */

.alert
{
    display: block;
    margin-bottom: 5px;
    padding: 20px;
    background-color: #66a0ff;
    color: white;
}

div.alert {
    width: auto;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

strong {
    background-color: #66a0ff;
}

span.closebtn {
    background-color: #66a0ff;
}

table {
    text-align: center;
    border-collapse: collapse;
    border: solid;
    border-width: 1px;
    border-color: #444444;
}

th {
    background-color: #555555;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    background-color: #555555;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #66a0ff;
}

a:hover {
    color: white;
}

.lienTab {
    font-weight: bold;
    text-decoration: none;
    color: #66a0ff;
    background-color: #555555;
}

a.lienTab:hover {
    color: white;

}